
.cards {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.card {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 700px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.picture {
    flex: 1; /* Occupy remaining space */
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
    border-radius: 10px 0 0 10px;
}

.picture img {
    max-width: 100%;
    max-height: 100%; /* Occupy maximum height without overflow */
    object-fit: contain; /* Maintain aspect ratio and fit the image */
    border-radius: 10px 0 0 10px;
}

.content {
    flex: 1;
    padding: 20px;
}

.title {
    margin-left: 60%;
    font-size: 20px;
    color: #333333;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow title and prices to wrap to the next line if needed */
}

.price {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-left: auto;
    white-space: nowrap; /* Prevent line breaks */
}

.price .amount {
    margin-right: 5px; /* Add spacing between the amount and currency */
}

.price .currency {
    font-size: 14px;
}

.discount {
    display: inline-block;
    font-size: 18px;
    text-decoration: line-through;
    color: #999;
    margin-left: auto;
    white-space: nowrap; /* Prevent line breaks */
}

.discount .amount {
    margin-right: 5px; /* Add spacing between the amount and currency */
}

.discount .currency {
    font-size: 12px;
}

.hotel img,
.flight img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dates,
.details {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        height: auto;
    }

    .picture {
        border-radius: 10px 10px 0 0;
    }

    .picture img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .content {
        padding: 10px;
    }

    .title {
        justify-content: space-between;
    }

    .title h2 {
        font-size: 24px; /* Increase the font size of the title */
    }

    .price {
        display: inline;
        font-size: 16px;
        text-align: right;
        margin-left: auto; /* Align the numbers to the right */
    }

    .discount {
        text-align: right;
        display: inline;
        font-size: 14px;
        margin-left: auto; /* Align the discounts to the right */
    }

    .hotel img,
    .flight img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .dates,
    .details {
        display: inline;
        font-size: 14px;
    }
}
