
.login-container {
    background-image: url('/public/images/img-home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 400px;
    padding: 20px;
    background-color: rgba(46, 204, 101, 0.4);
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
}

.login-button {
    width: 65%;
    font-size: large;
    padding: 10px 20px;
    background-color: rgba(204, 46, 112, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgba(161, 36, 88, 0.8);
}

.remember-me {
    display: flex;
    align-self: flex-start;
    margin-top: -10px;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 35%;
}

.remember-me label {
    color: #333;
    font-size: 14px;
}

.login-options {
    margin-top: 40px; /* Adjust the margin to create space between the form and icons */
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
}

.line {
    border: none;
    border-top: 2px solid #ccc;
    margin-top: 15vh;
}

.or-text {
    /*margin-top: -12px;*/
    padding: 0 10px;
    font-size: 17px;
    color: #ffffff;
}

.login-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.icon-container {
    background-color: #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon {
    color: #333;
    font-size: 20px;
}

@media (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}
