.signup-container {
    background-image: url('/public/images/img-home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    width: 400px;
    padding: 20px;
    background-color: rgba(46, 204, 101, 0.4);
    border-radius: 5px;
}

.signup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
}

.signup-button {
    width: 65%;
    font-size: large;
    padding: 10px 20px;
    background-color: rgba(204, 46, 112, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-button:hover {
    background-color: rgba(161, 36, 88, 0.8);
}

.phone-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.phone-prefix {
    width: 100%; /* Adjusted width for the prefix */
    padding: 10px;
    margin-right: 40px;
    border: none;
    border-radius: 4px;
}

.phone-number {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}
/* Responsive Adjustments */
@media (max-width: 600px) {
    .signup-form {
        width: 90%;
    }

    .phone-input-group {
        flex-direction: row;
        align-items: center;
    }

    .phone-prefix {
        width: 70px; /* Adjusted width for the prefix */
        margin-right: 40px;
        margin-bottom: 0;
    }

    .phone-number {
        flex-grow: 1;
        margin-right: 0;
    }
}
