body{
    background-image: url('../../public/images/hotel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    height: 40vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 20px;
}

.h2 {
    font-size: 31px;
    text-align: center;
    margin-top: 50px;
    margin-right: 44%;
}

.h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 12%;
}
.pSentence {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 28px;
    font-style: italic;
}
/*Form*/
.booking-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.booking-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.form-field {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
}

.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 1.1rem;
    color: #555;
}

.form-field input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1rem;
    color: #333;
    transition: box-shadow 0.2s ease-in-out;
}

.form-field input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.number-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.number-input button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
/* Hide the spin buttons */
.number-input input::-webkit-inner-spin-button,
.number-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
.number-input button:hover {
    background-color: #e0e0e0;
}

.number-input input {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1rem;
    color: #333;
    width: 50px;
    transition: box-shadow 0.2s ease-in-out;
}

.number-input input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-button {
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #388e3c;
}

.date-picker-day {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.date-picker-day.disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

.date-picker-day.selected {
    background-color: #4caf50;
    color: #fff;
}

/* עיצוב תאריך היום הנוכחי */
.react-datepicker__day--today {
    background-color: yellow;
}

/*Card*/
.featured-destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 14%;
}

.destination-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(25% - 15px);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.destination-card:last-child {
    margin-right: 0;
}

.destination-card:hover {
    transform: scale(1.05);
}

.destination-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.destination-card p {
    text-align: center;
    margin: 5px;
    font-size: 1rem;
    line-height: 1.5;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    max-width: 800px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.popup-content button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.2rem;
}

.popup-content button:hover {
    background-color: #388e3c;
}


/* עיצוב רספונסיבי */
@media (max-width: 767px) {
    .h2{
        text-align: center;
        margin-left: auto;
    }
    .booking-form {
        flex-direction: column;
        padding: 10px;
    }

    .form-field {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-button {
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    .h2{
        text-align: center;
        margin-left: auto;
    }
    .destination-card {
        width: calc(50% - 10px);
    }

    .destination-card:nth-child(2n) {
        margin-right: 0;
    }

    .popup-content {
        width: 95%;
    }

    .popup-content h2 {
        font-size: 1.8rem;
    }

    .popup-content p {
        font-size: 1.1rem;
    }

    .popup-content button {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    .h2{
        text-align: center;
        margin-left: auto;
    }
    .destination-card {
        width: 100%;
    }

    .destination-card:last-child {
        margin-bottom: 0;
    }

    .popup-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .popup-content h2 {
        font-size: 1.5rem;
    }

    .popup-content p {
        font-size: 1rem;
    }

    .popup-content button {
        font-size: 1rem;
    }
}